In [2]:
import pandas as pd

dv = "C:/Users/abhis/Downloads/Demographics data.csv"

df = pd.read_csv(dv)

In [3]:
df

,Country Name,Country Code,"Birthrate (per 1,000 people)",Internet Users (Percentage),Income Group
0,Africa,NaN,NaN,NaN,NaN
1,Algeria,DZA,23.1,55.0,Lower-middle-income
2,Angola,AGO,35.7,40.0,Lower-middle-income
3,Botswana,BWA,22.8,50.0,Upper-middle-income
4,Burkina Faso,BFA,35.1,15.0,Low-income
5,Burundi,BDI,34.5,10.0,Low-income
6,Cameroon,CMR,30.7,35.0,Lower-middle-income
7,Central African Republic,CAF,34.5,5.0,Low-income
8,Chad,TCD,36.0,10.0,Low-income
9,Comoros,COM,28.3,30.0,Lower-middle-income
10,Democratic Republic of the Congo,COD,40.0,10.0,Low-income
11,Egypt,EGY,21.9,45.0,Lower-middle-income
12,Equatorial Guinea,EQG,29.0,55.0,Upper-middle-income
13,Eritrea,ERIT,24.6,15.0,Low-income
14,Eswatini,SWZ,24.9,60.0,Lower-middle-income
15,Ethiopia,ETH,30.2,25.0,Low-income
16,Gabon,GAB,25.8,50.0,Upper-middle-income
17,Gambia,GMB,35.1,25.0,Lower-middle-income
18,Ghana,GHA,27.0,35.0,Lower-middle-income
19,Guinea,GIN,32.1,20.0,Lower-middle-income
20,Guinea-Bissau,GNB,32.9,20.0,Low-income
21,Ivory Coast,CIV,30.4,40.0,Lower-middle-income
22,Kenya,KEN,32.1,40.0,Lower-middle-income
23,Lesotho,LSO,28.1,60.0,Lower-middle-income
24,Liberia,LBR,30.0,30.0,Low-income
25,Libya,LBY,21.3,60.0,Lower-middle-income
26,Madagascar,MDG,28.3,15.0,Low-income
27,Malawi,MWI,38.6,15.0,Low-income
28,Mali,MLI,38.1,10.0,Low-income
29,Mauritania,MRT,29.9,20.0,Lower-middle-income
30,Mauritius,MUS,11.4,75.0,High-income
31,Morocco,MAR,21.0,55.0,Lower-middle-income
32,Mozambique,MOZ,36.0,25.0,Low-income
33,Namibia,NAM,22.5,55.0,Upper-middle-income
34,Niger,NER,41.0,10.0,Low-income
35,Nigeria,NGA,37.2,45.0,Lower-middle-income
36,Rwanda,RWA,32.4,25.0,Low-income
37,São Tomé and Príncipe,STP,28.3,30.0,Lower-middle-income
38,Senegal,SEN,30.2,40.0,Lower-middle-income
39,Seychelles,SYC,13.9,90.0,High-income
40,Sierra Leone,SLE,32.5,20.0,Low-income
41,Somalia,SOM,32.7,10.0,Low-income
42,South Africa,ZAF,21.7,65.0,Upper-middle-income
43,South Sudan,SSD,35.1,5.0,Low-income
44,Sudan,SDN,35.0,20.0,Lower-middle-income
45,Tanzania,TZA,36.0,25.0,Low-income
46,Togo,TGO,31.2,30.0,Lower-middle-income
47,Tunisia,TUN,21.0,55.0,Lower-middle-income
48,Uganda,UGA,37.0,30.0,Low-income
49,Zambia,ZMB,40.5,35.0,Lower-middle-income
50,Zimbabwe,ZWE,35.0,30.0,Lower-middle-income

In [4]:
len(df) # gives us only total number of rows

51

In [5]:
df.shape

(51, 5)

In [6]:
df.columns

Index(['Country Name', 'Country Code', 'Birthrate (per 1,000 people)',
       'Internet Users (Percentage)', 'Income Group'],
      dtype='object')

In [7]:
df.head() # display top 5 rows

,Country Name,Country Code,"Birthrate (per 1,000 people)",Internet Users (Percentage),Income Group
0,Africa,NaN,NaN,NaN,NaN
1,Algeria,DZA,23.1,55.0,Lower-middle-income
2,Angola,AGO,35.7,40.0,Lower-middle-income
3,Botswana,BWA,22.8,50.0,Upper-middle-income
4,Burkina Faso,BFA,35.1,15.0,Low-income

In [8]:
df.tail() # bottom 5 rows

,Country Name,Country Code,"Birthrate (per 1,000 people)",Internet Users (Percentage),Income Group
46,Togo,TGO,31.2,30.0,Lower-middle-income
47,Tunisia,TUN,21.0,55.0,Lower-middle-income
48,Uganda,UGA,37.0,30.0,Low-income
49,Zambia,ZMB,40.5,35.0,Lower-middle-income
50,Zimbabwe,ZWE,35.0,30.0,Lower-middle-income

In [9]:
df.head(10)

,Country Name,Country Code,"Birthrate (per 1,000 people)",Internet Users (Percentage),Income Group
0,Africa,NaN,NaN,NaN,NaN
1,Algeria,DZA,23.1,55.0,Lower-middle-income
2,Angola,AGO,35.7,40.0,Lower-middle-income
3,Botswana,BWA,22.8,50.0,Upper-middle-income
4,Burkina Faso,BFA,35.1,15.0,Low-income
5,Burundi,BDI,34.5,10.0,Low-income
6,Cameroon,CMR,30.7,35.0,Lower-middle-income
7,Central African Republic,CAF,34.5,5.0,Low-income
8,Chad,TCD,36.0,10.0,Low-income
9,Comoros,COM,28.3,30.0,Lower-middle-income

In [10]:
df.tail(10)

,Country Name,Country Code,"Birthrate (per 1,000 people)",Internet Users (Percentage),Income Group
41,Somalia,SOM,32.7,10.0,Low-income
42,South Africa,ZAF,21.7,65.0,Upper-middle-income
43,South Sudan,SSD,35.1,5.0,Low-income
44,Sudan,SDN,35.0,20.0,Lower-middle-income
45,Tanzania,TZA,36.0,25.0,Low-income
46,Togo,TGO,31.2,30.0,Lower-middle-income
47,Tunisia,TUN,21.0,55.0,Lower-middle-income
48,Uganda,UGA,37.0,30.0,Low-income
49,Zambia,ZMB,40.5,35.0,Lower-middle-income
50,Zimbabwe,ZWE,35.0,30.0,Lower-middle-income

In [11]:
df.info() #Informations of the data sets

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country Name                  51 non-null     object
 1   Country Code                  50 non-null     object
 2   Birthrate (per 1,000 people)  50 non-null     float64
 3   Internet Users (Percentage)   50 non-null     float64
 4   Income Group                  50 non-null     object
dtypes: float64(2), object(3)
memory usage: 2.1+ KB

In [12]:
df.describe() # gives us numerical output not categorical

       Birthrate (per 1,000 people)  Internet Users (Percentage)
count                     50.000000                    50.000000
mean                      30.252000                    33.500000
std                        6.615327                    19.672056
min                       11.400000                     5.000000
25%                       26.100000                    20.000000
50%                       30.950000                    30.000000
75%                       35.100000                    48.750000
max                       41.000000                    90.000000

In [13]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
Country Name,Africa,Algeria,Angola,Botswana,Burkina Faso,Burundi,Cameroon,Central African Republic,Chad,Comoros,...,Somalia,South Africa,South Sudan,Sudan,Tanzania,Togo,Tunisia,Uganda,Zambia,Zimbabwe
Country Code,NaN,DZA,AGO,BWA,BFA,BDI,CMR,CAF,TCD,COM,...,SOM,ZAF,SSD,SDN,TZA,TGO,TUN,UGA,ZMB,ZWE
"Birthrate (per 1,000 people)",NaN,23.1,35.7,22.8,35.1,34.5,30.7,34.5,36.0,28.3,...,32.7,21.7,35.1,35.0,36.0,31.2,21.0,37.0,40.5,35.0
Internet Users (Percentage),NaN,55.0,40.0,50.0,15.0,10.0,35.0,5.0,10.0,30.0,...,10.0,65.0,5.0,20.0,25.0,30.0,55.0,30.0,35.0,30.0
Income Group,NaN,Lower-middle-income,Lower-middle-income,Upper-middle-income,Low-income,Low-income,Lower-middle-income,Low-income,Low-income,Lower-middle-income,...,Low-income,Upper-middle-income,Low-income,Lower-middle-income,Low-income,Lower-middle-income,Lower-middle-income,Low-income,Lower-middle-income,Lower-middle-income

In [14]:
df[:]

,Country Name,Country Code,"Birthrate (per 1,000 people)",Internet Users (Percentage),Income Group
0,Africa,NaN,NaN,NaN,NaN
1,Algeria,DZA,23.1,55.0,Lower-middle-income
2,Angola,AGO,35.7,40.0,Lower-middle-income
3,Botswana,BWA,22.8,50.0,Upper-middle-income
4,Burkina Faso,BFA,35.1,15.0,Low-income
5,Burundi,BDI,34.5,10.0,Low-income
6,Cameroon,CMR,30.7,35.0,Lower-middle-income
7,Central African Republic,CAF,34.5,5.0,Low-income
8,Chad,TCD,36.0,10.0,Low-income
9,Comoros,COM,28.3,30.0,Lower-middle-income
10,Democratic Republic of the Congo,COD,40.0,10.0,Low-income
11,Egypt,EGY,21.9,45.0,Lower-middle-income
12,Equatorial Guinea,EQG,29.0,55.0,Upper-middle-income
13,Eritrea,ERIT,24.6,15.0,Low-income
14,Eswatini,SWZ,24.9,60.0,Lower-middle-income
15,Ethiopia,ETH,30.2,25.0,Low-income
16,Gabon,GAB,25.8,50.0,Upper-middle-income
17,Gambia,GMB,35.1,25.0,Lower-middle-income
18,Ghana,GHA,27.0,35.0,Lower-middle-income
19,Guinea,GIN,32.1,20.0,Lower-middle-income
20,Guinea-Bissau,GNB,32.9,20.0,Low-income
21,Ivory Coast,CIV,30.4,40.0,Lower-middle-income
22,Kenya,KEN,32.1,40.0,Lower-middle-income
23,Lesotho,LSO,28.1,60.0,Lower-middle-income
24,Liberia,LBR,30.0,30.0,Low-income
25,Libya,LBY,21.3,60.0,Lower-middle-income
26,Madagascar,MDG,28.3,15.0,Low-income
27,Malawi,MWI,38.6,15.0,Low-income
28,Mali,MLI,38.1,10.0,Low-income
29,Mauritania,MRT,29.9,20.0,Lower-middle-income
30,Mauritius,MUS,11.4,75.0,High-income
31,Morocco,MAR,21.0,55.0,Lower-middle-income
32,Mozambique,MOZ,36.0,25.0,Low-income
33,Namibia,NAM,22.5,55.0,Upper-middle-income
34,Niger,NER,41.0,10.0,Low-income
35,Nigeria,NGA,37.2,45.0,Lower-middle-income
36,Rwanda,RWA,32.4,25.0,Low-income
37,São Tomé and Príncipe,STP,28.3,30.0,Lower-middle-income
38,Senegal,SEN,30.2,40.0,Lower-middle-income
39,Seychelles,SYC,13.9,90.0,High-income
40,Sierra Leone,SLE,32.5,20.0,Low-income
41,Somalia,SOM,32.7,10.0,Low-income
42,South Africa,ZAF,21.7,65.0,Upper-middle-income
43,South Sudan,SSD,35.1,5.0,Low-income
44,Sudan,SDN,35.0,20.0,Lower-middle-income
45,Tanzania,TZA,36.0,25.0,Low-income
46,Togo,TGO,31.2,30.0,Lower-middle-income
47,Tunisia,TUN,21.0,55.0,Lower-middle-income
48,Uganda,UGA,37.0,30.0,Low-income
49,Zambia,ZMB,40.5,35.0,Lower-middle-income
50,Zimbabwe,ZWE,35.0,30.0,Lower-middle-income

In [15]:
df[:10]

,Country Name,Country Code,"Birthrate (per 1,000 people)",Internet Users (Percentage),Income Group
0,Africa,NaN,NaN,NaN,NaN
1,Algeria,DZA,23.1,55.0,Lower-middle-income
2,Angola,AGO,35.7,40.0,Lower-middle-income
3,Botswana,BWA,22.8,50.0,Upper-middle-income
4,Burkina Faso,BFA,35.1,15.0,Low-income
5,Burundi,BDI,34.5,10.0,Low-income
6,Cameroon,CMR,30.7,35.0,Lower-middle-income
7,Central African Republic,CAF,34.5,5.0,Low-income
8,Chad,TCD,36.0,10.0,Low-income
9,Comoros,COM,28.3,30.0,Lower-middle-income

In [16]:
df[::-1]

,Country Name,Country Code,"Birthrate (per 1,000 people)",Internet Users (Percentage),Income Group
50,Zimbabwe,ZWE,35.0,30.0,Lower-middle-income
49,Zambia,ZMB,40.5,35.0,Lower-middle-income
48,Uganda,UGA,37.0,30.0,Low-income
47,Tunisia,TUN,21.0,55.0,Lower-middle-income
46,Togo,TGO,31.2,30.0,Lower-middle-income
45,Tanzania,TZA,36.0,25.0,Low-income
44,Sudan,SDN,35.0,20.0,Lower-middle-income
43,South Sudan,SSD,35.1,5.0,Low-income
42,South Africa,ZAF,21.7,65.0,Upper-middle-income
41,Somalia,SOM,32.7,10.0,Low-income
40,Sierra Leone,SLE,32.5,20.0,Low-income
39,Seychelles,SYC,13.9,90.0,High-income
38,Senegal,SEN,30.2,40.0,Lower-middle-income
37,São Tomé and Príncipe,STP,28.3,30.0,Lower-middle-income
36,Rwanda,RWA,32.4,25.0,Low-income
35,Nigeria,NGA,37.2,45.0,Lower-middle-income
34,Niger,NER,41.0,10.0,Low-income
33,Namibia,NAM,22.5,55.0,Upper-middle-income
32,Mozambique,MOZ,36.0,25.0,Low-income
31,Morocco,MAR,21.0,55.0,Lower-middle-income
30,Mauritius,MUS,11.4,75.0,High-income
29,Mauritania,MRT,29.9,20.0,Lower-middle-income
28,Mali,MLI,38.1,10.0,Low-income
27,Malawi,MWI,38.6,15.0,Low-income
26,Madagascar,MDG,28.3,15.0,Low-income
25,Libya,LBY,21.3,60.0,Lower-middle-income
24,Liberia,LBR,30.0,30.0,Low-income
23,Lesotho,LSO,28.1,60.0,Lower-middle-income
22,Kenya,KEN,32.1,40.0,Lower-middle-income
21,Ivory Coast,CIV,30.4,40.0,Lower-middle-income
20,Guinea-Bissau,GNB,32.9,20.0,Low-income
19,Guinea,GIN,32.1,20.0,Lower-middle-income
18,Ghana,GHA,27.0,35.0,Lower-middle-income
17,Gambia,GMB,35.1,25.0,Lower-middle-income
16,Gabon,GAB,25.8,50.0,Upper-middle-income
15,Ethiopia,ETH,30.2,25.0,Low-income
14,Eswatini,SWZ,24.9,60.0,Lower-middle-income
13,Eritrea,ERIT,24.6,15.0,Low-income
12,Equatorial Guinea,EQG,29.0,55.0,Upper-middle-income
11,Egypt,EGY,21.9,45.0,Lower-middle-income
10,Democratic Republic of the Congo,COD,40.0,10.0,Low-income
9,Comoros,COM,28.3,30.0,Lower-middle-income
8,Chad,TCD,36.0,10.0,Low-income
7,Central African Republic,CAF,34.5,5.0,Low-income
6,Cameroon,CMR,30.7,35.0,Lower-middle-income
5,Burundi,BDI,34.5,10.0,Low-income
4,Burkina Faso,BFA,35.1,15.0,Low-income
3,Botswana,BWA,22.8,50.0,Upper-middle-income
2,Angola,AGO,35.7,40.0,Lower-middle-income
1,Algeria,DZA,23.1,55.0,Lower-middle-income
0,Africa,NaN,NaN,NaN,NaN

In [17]:
df["Birthrate (per 1,000 people)"] # only print birth rate

0      NaN
1     23.1
2     35.7
3     22.8
4     35.1
5     34.5
6     30.7
7     34.5
8     36.0
9     28.3
10    40.0
11    21.9
12    29.0
13    24.6
14    24.9
15    30.2
16    25.8
17    35.1
18    27.0
19    32.1
20    32.9
21    30.4
22    32.1
23    28.1
24    30.0
25    21.3
26    28.3
27    38.6
28    38.1
29    29.9
30    11.4
31    21.0
32    36.0
33    22.5
34    41.0
35    37.2
36    32.4
37    28.3
38    30.2
39    13.9
40    32.5
41    32.7
42    21.7
43    35.1
44    35.0
45    36.0
46    31.2
47    21.0
48    37.0
49    40.5
50    35.0
Name: Birthrate (per 1,000 people), dtype: float64

In [18]:
df[['Country Name','Country Code']][1:3]

  Country Name Country Code
1      Algeria          DZA
2       Angola          AGO

In [38]:
df.rename(columns={'Birthrate (per 1,000 people)': 'Birthrate', 'Internet Users (Percentage)': 'Internet_Users','Income Group':'IncomeGroup'}, inplace=True)
df['mycalc'] = df['Birthrate'] * df['Internet_Users']

In [39]:
df.head()

,Country Name,Country Code,Birthrate,Internet_Users,IncomeGroup,mycalc
0,Africa,NaN,NaN,NaN,NaN,NaN
1,Algeria,DZA,23.1,55.0,Lower-middle-income,1270.5
2,Angola,AGO,35.7,40.0,Lower-middle-income,1428.0
3,Botswana,BWA,22.8,50.0,Upper-middle-income,1140.0
4,Burkina Faso,BFA,35.1,15.0,Low-income,526.5

In [21]:
df.tail()

,Country Name,Country Code,Birthrate,Internet_Users,Income Group,mycalc
46,Togo,TGO,31.2,30.0,Lower-middle-income,936.0
47,Tunisia,TUN,21.0,55.0,Lower-middle-income,1155.0
48,Uganda,UGA,37.0,30.0,Low-income,1110.0
49,Zambia,ZMB,40.5,35.0,Lower-middle-income,1417.5
50,Zimbabwe,ZWE,35.0,30.0,Lower-middle-income,1050.0

In [22]:
df.drop('mycalc',axis = 1)

,Country Name,Country Code,Birthrate,Internet_Users,Income Group
0,Africa,NaN,NaN,NaN,NaN
1,Algeria,DZA,23.1,55.0,Lower-middle-income
2,Angola,AGO,35.7,40.0,Lower-middle-income
3,Botswana,BWA,22.8,50.0,Upper-middle-income
4,Burkina Faso,BFA,35.1,15.0,Low-income
5,Burundi,BDI,34.5,10.0,Low-income
6,Cameroon,CMR,30.7,35.0,Lower-middle-income
7,Central African Republic,CAF,34.5,5.0,Low-income
8,Chad,TCD,36.0,10.0,Low-income
9,Comoros,COM,28.3,30.0,Lower-middle-income
10,Democratic Republic of the Congo,COD,40.0,10.0,Low-income
11,Egypt,EGY,21.9,45.0,Lower-middle-income
12,Equatorial Guinea,EQG,29.0,55.0,Upper-middle-income
13,Eritrea,ERIT,24.6,15.0,Low-income
14,Eswatini,SWZ,24.9,60.0,Lower-middle-income
15,Ethiopia,ETH,30.2,25.0,Low-income
16,Gabon,GAB,25.8,50.0,Upper-middle-income
17,Gambia,GMB,35.1,25.0,Lower-middle-income
18,Ghana,GHA,27.0,35.0,Lower-middle-income
19,Guinea,GIN,32.1,20.0,Lower-middle-income
20,Guinea-Bissau,GNB,32.9,20.0,Low-income
21,Ivory Coast,CIV,30.4,40.0,Lower-middle-income
22,Kenya,KEN,32.1,40.0,Lower-middle-income
23,Lesotho,LSO,28.1,60.0,Lower-middle-income
24,Liberia,LBR,30.0,30.0,Low-income
25,Libya,LBY,21.3,60.0,Lower-middle-income
26,Madagascar,MDG,28.3,15.0,Low-income
27,Malawi,MWI,38.6,15.0,Low-income
28,Mali,MLI,38.1,10.0,Low-income
29,Mauritania,MRT,29.9,20.0,Lower-middle-income
30,Mauritius,MUS,11.4,75.0,High-income
31,Morocco,MAR,21.0,55.0,Lower-middle-income
32,Mozambique,MOZ,36.0,25.0,Low-income
33,Namibia,NAM,22.5,55.0,Upper-middle-income
34,Niger,NER,41.0,10.0,Low-income
35,Nigeria,NGA,37.2,45.0,Lower-middle-income
36,Rwanda,RWA,32.4,25.0,Low-income
37,São Tomé and Príncipe,STP,28.3,30.0,Lower-middle-income
38,Senegal,SEN,30.2,40.0,Lower-middle-income
39,Seychelles,SYC,13.9,90.0,High-income
40,Sierra Leone,SLE,32.5,20.0,Low-income
41,Somalia,SOM,32.7,10.0,Low-income
42,South Africa,ZAF,21.7,65.0,Upper-middle-income
43,South Sudan,SSD,35.1,5.0,Low-income
44,Sudan,SDN,35.0,20.0,Lower-middle-income
45,Tanzania,TZA,36.0,25.0,Low-income
46,Togo,TGO,31.2,30.0,Lower-middle-income
47,Tunisia,TUN,21.0,55.0,Lower-middle-income
48,Uganda,UGA,37.0,30.0,Low-income
49,Zambia,ZMB,40.5,35.0,Lower-middle-income
50,Zimbabwe,ZWE,35.0,30.0,Lower-middle-income

In [24]:
df.columns[3:4]

Index(['Internet_Users'], dtype='object')

In [27]:
filter  =  df.Internet_Users<2
filter

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
Name: Internet_Users, dtype: bool

In [28]:
df[filter]

Empty DataFrame
Columns: [Country Name, Country Code, Birthrate, Internet_Users, Income Group, mycalc]
Index: []

In [32]:
filter2  = df.Birthrate>40
filter2

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34     True
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49     True
50    False
Name: Birthrate, dtype: bool

In [33]:
df[filter2]

,Country Name,Country Code,Birthrate,Internet_Users,Income Group,mycalc
34,Niger,NER,41.0,10.0,Low-income,410.0
49,Zambia,ZMB,40.5,35.0,Lower-middle-income,1417.5

In [35]:
df[filter & filter2]

Empty DataFrame
Columns: [Country Name, Country Code, Birthrate, Internet_Users, Income Group, mycalc]
Index: []

In [40]:
df[df.IncomeGroup == 'Low-income']

,Country Name,Country Code,Birthrate,Internet_Users,IncomeGroup,mycalc
4,Burkina Faso,BFA,35.1,15.0,Low-income,526.5
5,Burundi,BDI,34.5,10.0,Low-income,345.0
7,Central African Republic,CAF,34.5,5.0,Low-income,172.5
8,Chad,TCD,36.0,10.0,Low-income,360.0
10,Democratic Republic of the Congo,COD,40.0,10.0,Low-income,400.0
13,Eritrea,ERIT,24.6,15.0,Low-income,369.0
15,Ethiopia,ETH,30.2,25.0,Low-income,755.0
20,Guinea-Bissau,GNB,32.9,20.0,Low-income,658.0
24,Liberia,LBR,30.0,30.0,Low-income,900.0
26,Madagascar,MDG,28.3,15.0,Low-income,424.5
27,Malawi,MWI,38.6,15.0,Low-income,579.0
28,Mali,MLI,38.1,10.0,Low-income,381.0
32,Mozambique,MOZ,36.0,25.0,Low-income,900.0
34,Niger,NER,41.0,10.0,Low-income,410.0
36,Rwanda,RWA,32.4,25.0,Low-income,810.0
40,Sierra Leone,SLE,32.5,20.0,Low-income,650.0
41,Somalia,SOM,32.7,10.0,Low-income,327.0
43,South Sudan,SSD,35.1,5.0,Low-income,175.5
45,Tanzania,TZA,36.0,25.0,Low-income,900.0
48,Uganda,UGA,37.0,30.0,Low-income,1110.0